.Tog-Container{
    width: fit-content;
    height: fit-content;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    cursor:pointer;
    /* position: relative; */
}

#top{
    width: 30px;
    height: 6px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 4px;
}

#mid{
    width: 50px;
    height: 6px;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 4px;
}

#lockIcon{
    color: white;
    font-size: 13px;
    position: absolute;
    right: 20px;
}