.main-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 247, 247);
    display: grid;
    grid-template-columns: 77% 23%;
    grid-template-areas: "Tleft Tright";
    overflow-y: auto;
}

.dleft-container{
    grid-area: Tleft;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 5px;
    grid-template-areas: 
    "TLtop"
    "TLbottom";
}

.dright-container{
    grid-area: Tright;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 20px 10px;
}

.right-contain-box{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center
}

.left-bottom-contain{
    grid-area: TLbottom;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #888; */
    box-shadow: 0 3px 10px rgba(141, 140, 140, 0.1);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.left-bottom-contain > span{
    font-size: 14px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600
}

.left-bottom-contain-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#batt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#batt span{
    font-size: 13px;
}

#batt1{
    position: relative;
    border-radius: 10px;
    height: 85px;
    width: 70px;
    background-color: white;
    margin-bottom: 5px;
    border: 1px solid #8888;
    overflow: hidden;
}

.batt1-lvl{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-top-contain{
    grid-area: TLtop;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "navbar navbar"
    "leftTop rightTop";
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(141, 140, 140, 0.1);
    width: 100%;
}

.nav-nav-cont{
    grid-area: navbar;
    width: 100%
}

.LTC-left{
    position: relative;
    grid-area: leftTop;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.LTC-left > span{
    margin-bottom: 10px;
    position: absolute;
    top: 30px;
    font-size: 18px;  
    font-weight: 600;
}

.LTC-right{
    grid-area: rightTop;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: relative;
}

.LTC-left-content{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
}

.LTC-right-content{
    position: sticky;
    top: 50px;
    width: 400px;
    height: 500px;
    background-color: #2c0ca0;
    border-radius: 30px;
    overflow: hidden;
}

.drcont-dp{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(141, 140, 140, 0.1);
    margin-bottom: 10px;
}

.drcont-dp-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 0px 10px;
}

#drcont-dp-container-img{
    height: 100%;
    width: 130px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.555);
    background: url("../../assets/jes.jpg"); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}

#profile-name{
    font-size: 18px;
    font-weight: 600;
}

#dash-icon{
    font-size: 23px;
    cursor: pointer;
    color: red;
}

.drcont-body{
    width: 100%;
    height: 600px;
    background-color: rgb(252, 247, 247);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#meter-heading{
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}

.drcont-meter-cont{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}